<!DOCTYPE html>
<html lang="en" class="docs">
  <head>
    <meta charset="utf-8" />
    <link rel="stylesheet" media="screen" href="/assets/stylesheets/saf.typography.css"/>
    <link rel="stylesheet" media="screen" href="/assets/stylesheets/saf.layout.css"/>
    <link rel="stylesheet" media="screen" href="/assets/stylesheets/saf.extras.css"/>
    <link rel="stylesheet" media="screen" href="/assets/stylesheets/forms.css"/>
    <link rel="stylesheet" media="screen" href="/assets/stylesheets/uni-form.css"/>
    <link rel="stylesheet" media="screen" href="/assets/stylesheets/default.uni-form.css"/>
    <link rel="stylesheet" media="screen" href="/assets/stylesheets/docs.css"/>

    <title>
      {% if page.title != 'Semaphore Documentation' %}
      {{ page.title }} -
      {% endif %} Semaphore Documentation</title>
  </head>
  <body>
    {% include header.html %}
    <div id="mainContent" class="safGrid">

      <header class="pageTitle">
        <h1 class="col cs-8 first">Semaphore Documentation</h1>
      </header>

      <article class="primary col cs-9 first">

        <header class="title">
          <h2>{{ page.title }}</h2>
        </header>

        <section class="body">
          {{ content }}
        </section>

      </article>

      <aside class="col cs-3">
        <h2>Articles</h2>
        <ul>
          <li><a href="/adding-new-project">Adding a New Project</a></li>
          <li><a href="/api">API</a></li>
          <li><a href="/available-environment-variables">Available Environment Variables</a></li>
          <li><a href="/collaborator-notifications">Collaborator Notifications</a></li>
          <li><a href="/custom-build-commands">Custom Build Commands</a></li>
          <li><a href="/supported-stack">Supported Stack</a></li>
          <li><a href="/test-apps">Test Apps</a></li>
          <li><a href="/version-information">Version Information</a></li>
          <li><a href="/webhooks">Webhooks</a></li>
          <li><a href="/wkhtmltopdf-configuration">Wkhtmltopdf Configuration</a></li>
        </ul>
      </aside>
    </div>
    {% include footer.html %}
  </body>
</html>
