<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="stylesheet" media="screen" href="/assets/stylesheets/application/saf-typography.css"/>
    <link rel="stylesheet" media="screen" href="/assets/stylesheets/application/saf-layout.css"/>
    <link rel="stylesheet" media="screen" href="/assets/stylesheets/application/saf-extras.css"/>
    <link rel="stylesheet" media="screen" href="/assets/stylesheets/application/forms.css"/>
    <link rel="stylesheet" media="screen" href="/assets/stylesheets/application/uni-form.css"/>
    <link rel="stylesheet" media="screen" href="/assets/stylesheets/application/default.uni-form.css"/>
    <link rel="stylesheet" media="screen" href="/assets/stylesheets/application/default.css"/>

    <!-- Syntax highlighting css-->
    <title>{{ page.title }}</title>
  </head>
  <body>
    {% include header.html %}
    <div id="mainContent" class="safGrid">

      <header class="pageTitle">
        <h1 class="col cs-8 first">{{ page.title }}</h1>
      </header>

      <article class="primary col cs-9 first">

      <section class="intro">
        {{ page.abstract }}
      </section>

        {{ content }}

      </article>

      <aside class="col cs-3">
        <h2><a href="/">Articles</a></h2>
        <ul>
          <li><a href="/supported-stack">Supported stack</a></li>
          <li><a href="/test-apps">Test apps</a></li>
          <li><a href="/collaborator-notifications">Collaborator notifications</a></li>
        </ul>
      </aside>
    </div>
    {% include footer.html %}
  </body>
</html>
