<!DOCTYPE html>
<html lang="en" class="docs">
  <head>
    <meta charset="utf-8" />
    <link rel="stylesheet" media="screen" href="/assets/stylesheets/saf.typography.css"/>
    <link rel="stylesheet" media="screen" href="/assets/stylesheets/saf.layout.css"/>
    <link rel="stylesheet" media="screen" href="/assets/stylesheets/saf.extras.css"/>
    <link rel="stylesheet" media="screen" href="/assets/stylesheets/forms.css"/>
    <link rel="stylesheet" media="screen" href="/assets/stylesheets/uni-form.css"/>
    <link rel="stylesheet" media="screen" href="/assets/stylesheets/default.uni-form.css"/>
    <link rel="stylesheet" media="screen" href="/assets/stylesheets/docs.css"/>
    <link rel="stylesheet" media="screen" href="/assets/stylesheets/pygments.css"/>

    <title>
      {% if page.title != 'Frequently Asked Questions' %}
      {{ page.title }} -
      {% endif %} Semaphore Documentation</title>
  </head>
  <body>
    {% include header.html %}
    <div id="mainContent" class="safGrid">

      {% if page.title != 'Frequently Asked Questions' %}
        <nav class="docsNav">
          <a href="/">← Documentation Index</a>
        </nav>
      {% endif %}
      
      {% if page.title == 'Frequently Asked Questions' %}
        <h1 class="siteHeader">Semaphore Documentation</h1>
      {% endif %}

      <article class="primary">

        <header class="title">
          <h2>{{ page.title }}</h2>

          {% if page.summary %}
            <h3>{{ page.summary }}</h3>
          {% endif %}
        </header>

        <section class="body">
          {{ content }}
        </section>

      </article>

      {% include categories.html %}

    </div>

    {% include footer.html %}

  </body>
</html>
